.container-main {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  min-height: calc(100vh - 86px);
}

.container {
  background-color: #f5f5f5;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  border-radius: 0.5rem;
  padding: 4rem 2.5rem;
}

/* ---------- sm ------------ */
@media (min-width: 640px) {
  .container-main {
    max-width: 640px;
  }
}

/* ---------- md ------------ */
@media (min-width: 768px) {
  .container-main {
    max-width: 768px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
    width: calc(2 * 100% / 3);
  }
}

/* ---------- lg ------------ */
@media (min-width: 1024px) {
  .container-main {
    max-width: 1024px;
  }
  .container {
    width: calc(2 * 100% / 5);
  }
}

/* ---------- xl ------------ */
@media (min-width: 1280px) {
  .container-main {
    max-width: 1280px;
  }
}

/* ---------- 2xl ------------ */
@media (min-width: 1536px) {
  .container-main {
    max-width: 1536px;
  }
}

.container h1 {
  text-align: center;
  text-transform: capitalize;
  font-weight: 800;
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin-top: 0;
}

.input {
  margin-top: 2.25rem;
  margin-bottom: 1.25rem;
  border-bottom: 2px solid #adadad;
}

form label {
  display: block;
  color: rgb(75 85 99);
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
}

form input[type="text"],
form input[type="password"] {
  width: 100%;
  margin-top: 0.75rem;
  padding: 0.75rem;
  border: none;
  background-color: #f5f5f1;
}

form input[type="submit"] {
  display: block;
  width: 100%;
  text-decoration: none;
  text-align: center;
  background: linear-gradient(to right, #fcb0b3, #445e93);
  color: #fff;
  font-weight: 900;
  border: none;
  border-radius: 0.75rem;
  padding: 0.75rem;
  text-transform: uppercase;
  margin-top: 3.5rem;
  transition: 0.5s;
  opacity: 1;
}

form input[type="submit"]:hover {
  cursor: pointer;
  opacity: 0.6;
}

.button-sendAPI {
  display: block;
  width: 100%;
  text-decoration: none;
  text-align: center;
  background-color: #445e93;
  color: #fff;
  font-weight: 900;
  border: none;
  border-radius: 0.75rem;
  padding: 0.75rem;
  text-transform: uppercase;
  margin-top: 2.5rem;
  transition: 0.5s;
  opacity: 1;
}

.button-sendAPI:hover {
  cursor: pointer;
  opacity: 0.6;
}

.footer-login p {
  padding-bottom: 35px;
  text-align: center;
  font-weight: 600;
}
