/* ---------------------------- HEADER ---------------------------- */
.header-fileupload {
  text-align: center;
  background: linear-gradient(to right, #fcb0b3, #445e93);
  padding: 1rem;
  color: #000;
  font-size: small;
}

/* ---------------------------- CONTAINER ---------------------------- */

.container-fileupload {
  margin: 0 auto;
  background-color: rgb(245, 238, 238);
  padding: 3rem 3.5rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  min-height: calc(100vh - 258.875px);
}

/* ---------------------------- DRAG AND DROP FILES ---------------------------- */

.dragdropfile-progress {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.dragdropfile-progress h2 {
  text-align: center;
  color: #445e93;
  margin-bottom: 3rem;
  font-size: larger;
  text-transform: capitalize;
}

.file-uploader {
  min-width: 50% !important;
}

/* ---------------------------- PROGRESS BAR ---------------------------- */

.progressbar {
  width: 100%;
  margin-top: 4rem;
}

.progressbar-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.25rem;
}

.progressbar-text {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: #445e93;
}

.progressbar-amount {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: #445e93;
}

.bar {
  width: 100%;
  background-color: rgb(215, 217, 220);
  border-radius: 9999px;
  height: 0.625rem;
}

.progressbar-fill {
  border-radius: 9999px;
  height: 0.625rem;
  background-color: #445e93;
}

/* ---------------------------- UPLOADED FILES ---------------------------- */

.container-files {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.container-files h2 {
  text-align: center;
  color: #445e93;
  margin-bottom: 3rem;
  font-size: larger;
  text-transform: capitalize;
}

.files {
  width: 100%;
  padding: 0 1rem;
  background-color: rgb(246, 243, 243);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 1.2rem;
}

.no-filesuploaded {
  font-weight: 600;
  text-align: center;
}

.file {
  margin-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.75rem;
  width: 100%;
  border-bottom: 0.1rem solid #000;
  overflow-x: scroll;
}

.file:first-child {
  margin-top: 2.5rem;
}

.file:last-child {
  margin-bottom: 1rem;
  border: none;
}

.file-name {
  margin: 0;
  margin-bottom: 0.5rem;
  font-size: small;
  font-weight: 600;
}

.file-size-date {
  color: #666;
  margin: 0;
  font-size: smaller;
}

/* ---------------------------- FOOTER  ---------------------------- */

.footer-fileUpload p {
  padding-top: 1.5rem;
  padding-bottom: 2.5rem;
  text-align: center;
  background-color: rgb(245, 238, 238);
  font-weight: 600;
  margin: 0;
}

/* ---------------------------- MEDIA QUERIES  ---------------------------- */

/* ---------- sm ------------ */
@media (min-width: 576px) {
  .header-fileupload {
    font-size: medium;
  }

  .dragdropfile-progress h2 {
    font-size: 1.5em;
  }

  .container-files h2 {
    font-size: 1.5em;
  }

  .progressbar {
    width: 80%;
  }

  .files {
    width: 80%;
  }

  .file-name {
    font-size: medium;
  }
  .file-size-date {
    font-size: small;
  }
}

/* ---------- md ------------ */
@media (min-width: 768px) {
  .container-fileupload {
    flex-direction: row;
    gap: 3rem;
    padding: 3rem 4rem;
    min-height: 0;
    height: calc(100vh - 290.875px);
  }
  .dragdropfile-progress {
    width: 40%;
  }
  .container-files {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  .files {
    width: 70%;
    padding: 0 2.5rem;
    min-height: 15%;
    max-height: calc(100vh - 370px);
    overflow-y: scroll;
  }

  .file {
    gap: 1.5rem;
  }
}

/* ---------- lg ------------ */
@media (min-width: 1024px) {
  .container-fileupload {
    padding: 3rem 5rem;
    gap: 2rem;
  }

  .dragdropfile-progress {
    width: 50%;
  }
  .container-files {
    width: 50%;
  }

  .files {
    width: 70%;
  }

  .progressbar {
    width: 65%;
  }
}

/* ---------- xl ------------ */
@media (min-width: 1280px) {
  .files {
    width: 60%;
  }

  .progressbar {
    width: 60%;
  }
}

/* ---------- 2xl ------------ */
@media (min-width: 1536px) {
  .files {
    width: 50%;
  }

  .progressbar {
    width: 50%;
  }
}
