.header-fileupload {
  text-align: center;
  background: linear-gradient(to right, #fcb0b3, #445e93);
  padding: 1rem;
  color: #000;
}

.container-fileupload {
  margin: 0 auto;
  background-color: rgb(245, 238, 238);
  padding: 3rem 5rem;
  height: calc(100vh - 267.875px);
  display: grid;
  grid-template-columns: 35% 55%;
  gap: 4rem;
}

/* .dragdropfile-progress {
  width: 100%;
} */
/* ---------- md ------------ */
/* @media (min-width: 768px) {
  .dragdropfile-progress {
    width: 25%;
  }
} */

/* ---------- lg ------------ */
/* @media (min-width: 1024px) {
  .dragdropfile-progress {
    width: 35%;
  }
}  */

.dragdropfile-progress h2 {
  text-align: center;
  color: #445e93;
  margin-bottom: 3rem;
}

.progressbar-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.25rem;
  margin-top: 2rem;
}

.progressbar-text {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: #445e93;
}

.progressbar-amount {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: #445e93;
}

.progressbar {
  width: 100%;
  background-color: rgb(215, 217, 220);
  border-radius: 9999px;
  height: 0.625rem;
}

.progressbar-fill {
  border-radius: 9999px;
  height: 0.625rem;
  background-color: #445e93;
}

.removeFiles {
  width: 50%;
  margin-top: 3.5rem;
  padding: 1rem;
  text-transform: uppercase;
  font-weight: 900;
  color: #ddd;
  background-color: #445e93;
  border: none;
  border-radius: 0.75rem;
}

.files {
  height: calc(100vh - 370px);
  overflow-y: scroll;
  padding: 0 2.5rem;
  background-color: rgb(246, 243, 243);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 1.2rem;
}

/* ---------- md ------------ */
/* @media (min-width: 768px) {
  .files {
    width: 45%;
  }
} */

/* ---------- lg ------------ */
/* @media (min-width: 1024px) {
  .files {
    width: 55%;
  }
} */

.container-files h2 {
  text-align: center;
  color: #445e93;
  margin-bottom: 3rem;
}

.no-filesuploaded {
  font-weight: 700;
  text-align: center;
  /*   margin-top: 10rem; */
}

.file {
  margin-top: 1.5rem;
  padding: 0.5rem;
  padding-bottom: 1.5rem;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  border-bottom: 0.1rem solid #000;
}

.file:first-child {
  margin-top: 2.5rem;
}

.file:last-child {
  margin-bottom: 1.5rem;
  border: none;
}

.file-name {
  margin: 0;
  margin-bottom: 0.5rem;
  font-size: medium;
  font-weight: 600;
}

.file-size-date {
  color: #666;
  margin: 0;
  font-size: small;
}

.footer-fileUpload p {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  text-align: center;
  background-color: rgb(245, 238, 238);
  font-weight: 600;
  margin: 0;
}
